<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Shop Orders</h1>
    <h2>Today's Customer Orders</h2>
    {% for order in orders %}
    <div id="container">
        <ul>
            <!-- <li><b><a href="/orders/{{order.order_number}}" >Order Number: {{order.order_number}}</a></b> Customer Name: {{order.customer_name}}, Order Date: {{order.order_date}}, Title: {{order.book_title}}, Quantity: {{order.quantity}}</li> -->
            <li><b><a href="/orders/{{ orders.index(order) }}" >Order Number: {{ orders.index(order) }}</a></b> Customer Name: {{ order.customer_name }}, Order Date: {{ order.order_date }}, Title: {{ order.book_title }}, Quantity: {{ order.quantity }}</li>
        </ul>
    </div>
    {% endfor %}

</body>

</html>