<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Order</title>
</head>

<body>

    <h1>Customer Order</h1>
    <p>Customer Name: {{order.customer_name}}</p>
    <p>Order Date: {{order.order_date}}</p>
    <p>Title: {{order.book_title}}. Quantity: {{order.quantity}}</p>
</body>

</html>